@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(/fonts/style.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0px 4px 25px rgb(253 224 71);
}

.gradient-1 {
  border-radius: 0% 25% 51% 49% / 25% 0% 25% 25%;
  background-image: linear-gradient(
    to bottom,
    transparent 65%,
    rgba(255, 255, 255, 0.951) 100%
  );
}

.gradient-2 {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.951) 30%,
    transparent 70%,
    rgba(255, 255, 255, 0.951) 100%
  );
}

.gradient-3 {
  background: linear-gradient(
    to bottom,
    #ffffff 10%,
    #ffedd5 22%,
    #fed7aa 40%,
    #fed7aa 50%,
    #ffedd5 84%,
    #ffffff 94%
  );
}

.border-foto {
  box-shadow: 3px 3px 3px rgb(26, 77, 20);
}

.border {
  border-radius: 60px;
  border: none;

  @media (max-width: 1024px) {
  border-radius: 42px;
}
}

span {
  color: rgb(234, 161, 36);
}

.places {
  box-shadow: 3px 3px 3px rgb(68, 69, 68);
  border-radius: 24px;
  background-size: cover;

  border-radius: 1.5rem;
}

.background-place1 {
  grid-area: 1 / 1 / 3 / 2;

  background-image: url(images/image-baho.png);
}

.background-place2 {
  grid-area: 1 / 2 / 2 / 3;

  background-image: url(images/image-beech.jpg);
}

.background-place3 {
  grid-area: 1 / 3 / 2 / 4;

  background-image: url(images/image-dalat.jpg);
}

.background-place4 {
  grid-area: 2 / 2 / 3 / 4;

  background-image: url(images/image-vinperl.jpg);
}

.background-place5 {
  grid-area: 3 / 1 / 6 / 3;

  background-image: url(images/image-hotel.png);
}

.background-place6 {
  grid-area: 3 / 3 / 6 / 4;

  background-image: url(images/image-food.png);
}

.tour-name {
  font-size: 20px;
  color: #ffffff;
  margin-top: 1.5rem;
  background: linear-gradient(
    89.81deg,
    #1e1e1e 0.12%,
    rgba(30, 30, 30, 0) 100%
  );
  padding: 0.1rem 0.1rem 0.1rem 0.9rem;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.tour-other {
  font-size: 16px;
  color: #ffffff;

  background: linear-gradient(
    89.81deg,
    #1e1e1e73 0.12%,
    rgba(30, 30, 30, 0) 80%
  );
  border-bottom-left-radius: 14px;
  padding: 0.1rem 0.1rem 0.1rem 0.9rem;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

.review {
  width: 70%;
  padding: 20px;
  border: 1px solid rgb(64, 110, 59);
  display: flex;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 4%;
  box-shadow: 3px 3px 3px rgb(158, 189, 154);

  @media (max-width: 1024px) {
    width: 60%;
  }
}

.background-reviews {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 240, 196, 1) 17%,
    rgba(255, 240, 196, 0.99) 27%,
    rgba(213, 255, 161, 1) 67%,
    rgba(241, 248, 241, 1) 100%
  );
}

.footer {
  background: rgb(7, 14, 7);
  background: linear-gradient(
    0deg,
    rgba(7, 14, 7, 1) 0%,
    rgba(20, 42, 20, 1) 15%,
    rgba(49, 101, 47, 1) 60%,
    rgba(75, 153, 72, 1) 80%,
    rgba(241, 248, 241, 1) 100%
  );
}
